---
layout: default
---
<div class="home">
  {% assign t = site.data.locales[page.lang][page.lang] %} {% if page.title %} {% assign header = page.title %} {% else %} {% assign header = site.title %} {% endif %}
  <header>
    <div id="postSlider" class="carousel slide slider-container" data-bs-ride="carousel">
      <div class="carousel-inner">
        {% for post in site.posts %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <div class="email-circle">
            <img src="{{ post.featured_image | default: post.content | split: '!' | first | split: '(' | last | split: ')' | first | default: 'default-image.jpg' }}" alt="{{ post.title }}">
          </div>
          <h3 class="post-title">{{ post.title }}</h3>
          <p class="post-summary">{{ post.excerpt | strip_html | truncatewords: 20 }}</p>
        </div>
        {% endfor %}
      </div>

      <!-- Controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#postSlider" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#postSlider" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </header>
  {{ content }}

  <img src="{{'/assets/images/dcus.jpg' | relative_url }}"  alt="DjangoCon US 2023"/>

  {%- include latest-posts.html -%}
  {%- include join_us.html -%}
  {%- include partnerships.html -%}
  {%- include newsletter_form.html newsletter_title="Learn what the community and its members are doing from our newsletter!" -%}
</div>
