---
layout: default
---
<div class="home">
  {% assign t = site.data.locales[page.lang][page.lang] %} {% if page.title %} {% assign header = page.title %} {% else %} {% assign header = site.title %} {% endif %}
  <div class="slider">
    <div class="slides">
      {% assign recent_posts = site.posts | slice: 0, 3 %}
        {% for post in recent_posts %}
      <div class="slide {% if forloop.first %}active{% endif %}">
       <div class="image-wrapper">
        <img src="{{ post.featured_image | default: '/assets/images/bpd_stacked.png' }}" alt="{{ post.title }}">
       </div>
        <div class="info">
          <h2>{{ post.title }}</h2>
          <p>{{ post.excerpt | strip_html | truncatewords: 20 }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
    <button class="next" onclick="moveSlide(1)">&#10095;</button>
  </div>
  {{ content }}

  <img src="{{'/assets/images/dcus.jpg' | relative_url }}"  alt="DjangoCon US 2023"/>

 <section class="isolated-grid">
  <div class="grid-container">
    <div class="grid-item">
      {% include latest-posts.html %}
    </div>
    <div class="grid-item">
      {% include join-us-on-social-media.html %}
    </div>
  </div>
 </section>

 {% include join_us.html %}

  {%- include partnerships.html -%}
  {%- include newsletter_form.html newsletter_title="Learn what the community and its members are doing from our newsletter!" -%}
</div>
